p  {
    font-size: 20px;
    line-height: 30px;
}

body {
    background-color: black;
}


.img-fluid {
    width: 600px;
    height: 400px;
    
}

footer {
    text-align: center;
    height: 400px;
    padding-top: 360px;;

}


#github-link {
    font-size: x-large;
    
}